*{
    box-sizing: border-box;
}
html{
    font-size: 12px;
    margin: 0;
}
body{
    display: grid;
    grid-template-areas: 
    "header"
    "search"
    "footer";
    grid-template-rows: 13.3vh 70vh 5vh auto-fit;
    height: 100vh;
    margin:0;
}
/*header which kinda works*/
#pageheader{
    grid-area: header;
    display: grid;
    grid-template-areas: 
    "logo searchbar login"
    "logo menus login";
    grid-template-columns: 0.5fr 4fr 1fr  ;
    grid-template-rows: 2fr 1.4fr;
    width: 100%;
    border:solid 1px #ebebeb;
}
#corner-google{
    grid-area: logo;
    margin-top:7%;
    position: sticky;

}
#menus{
    grid-area: menus;
    display: flex;
    justify-content: flex-start;
    margin-top:7px;
    color: rgb(95, 99, 104);
}
#all::before{
    font-family: 'Material Icons';
    content: "search";
    font-size: 110%;
}
#news::before{
    font-family: 'Material Icons';
    content: "list_alt";
    font-size: 110%;
}
#map::before{
    font-family: 'Material Icons';
    content: "map";
    font-size: 110%;
}
#video::before{
    font-family: 'Material Icons';
    content: "movie";
    font-size: 110%;
}
#pics::before{
    font-family: 'Material Icons';
    content: "photo_library";
    font-size: 110%;
}
#more::before{
    font-family: 'Material Icons';
    content: "more_vert";
    font-size: 110%;
}
#db{
    display: flex;
    justify-content: flex-end;
    grid-area: login;
    font-size:12px;
    position: sticky;

}
#Login{
    color: white;
    background-color: rgb(26,115,232);
    width:100px;
    height: 37px;
    border-radius: 5px;
    border:none;
    margin-left: 1.3rem;
    margin-right:2.5rem;
    margin-top: 1.5rem;
}
#dots{
margin-top:1.2rem;
    width:40px;

}
.menu{
    margin-right:15px;
    margin-left:20px;
}
#search{
    width:56rem;
    margin-top: 2rem;
    border-radius: 20px;
    border: solid 1px #ebebeb;
    background-color: white;
    height:3.6rem;
}


#sform::after{
    font-family: "Material Icons";
    content: "keyboard" "search" ;
    font-size: 200%;
    position: relative;
    left:-5%;
    top:10%;
    color:blue;
}
@media (max-width:1050px){
    body{
        display: grid;
        grid-template-areas: 
        "header"
        "search"
        "footer";
        grid-template-rows: fit-content;
        grid-template-columns: 100vw;
        height: 100vh;
        margin:0;
    }
    #pageheader{
        grid-area: header;
        display: grid;
        grid-template-areas: 
        "logo searchbar"
        "menus menus";
        grid-template-columns: 20vw 80vw  ;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        border:solid 1px #ebebeb;
}
#db{
    grid-area: initial;
    display: inline;
    visibility: collapse;
    width:0;
    height:0;
}
#search{
    width:70vw;
}
#sform::after{
    font-family: "Material Icons";
    content: "" ;
    font-size: 200%;
    position: absolute;
    color:blue;
right:0;
}
#logoimg{
    width:20vw;
}
.images{
    display: flex;
    overflow: scroll;
    background-color: #ebebeb;}

.picsugs{
    overflow: scroll;
}
#menus{
    grid-area: menus;
    display: flex;
    justify-content: flex-start;
    margin-top:0px;
    color: rgb(95, 99, 104);
    flex-wrap: wrap;
    line-height: 4px;
    margin-top: 4px;
}
#sform{
    height:10px;
}
#row1,#row2{
    flex-wrap: wrap;
}
}




/*End of header*/



/*gooogle corner logo (div and img)*/
#corner-google{
    margin-top: 1.8em;
}
#logoimg{
    width:90px;
    margin-left:1.3em;
}
/*end of logo*/

/*Search result*/

#results{
    grid-area: search;
    margin-left:10%;
    max-width: 690px;
    width:100%;
    
}
.result{
    margin-top: 4%;
}
.translate{
    color: rgb(26, 13, 171);
    font-size: 1.1rem;
    margin-left: 4%;
}
.resultname{
    color: rgb(26, 13, 171);
    font-size:1.6rem;
    margin:0;
    line-height: 20px;
}
.resultname:hover{
    text-decoration: underline;
}
#resnum{
    color:rgb(112, 117, 122)
}
.linktosite{
    font-size: 1.1rem;
}
.description{
    font-size: 1.1rem;
}
#videores{
    display: flex;
    flex-direction: row-reverse;
}
#videoimg{
    margin-right:10px;
}
.image{
    max-width: 150px;
    height:100px;
    margin-right: 10px;
}
.picsug{
    
    border: 1px solid #ebebeb;
    width:fit-content;
    border-radius: 30px;
    height: auto;
    margin-right: 10px;
    font-size: 14px;
    padding: 7px;
}
.picsugs{
    display: flex;
}
.images{
    display: flex;
    overflow: scroll;
    background-color: #ebebeb;
}
.advice{
    color:#1a0dab;
font-weight: bold;
}
#pages{
    color:#1a0dab;
    text-align: center;
    font-size: 14px;
    word-spacing: 220%;
    
}
#next{
    margin-left: 70px;
}


footer{
    grid-area: footer;
 
    background-color: #f2f2f2;
    width: 100%;
    padding-left: 10%;
    color:rgba(0,0,0,.54);
    font-size: 13px;
}
#row1, #row2{
    display: flex;
    width: 100%;
}
#row1{
    border-bottom: solid 1px #dadce0;
    border-width: 100%;
}
.footel{
    margin-right: 20px;
}
#country{
    border-right: solid 1px #dadce0;
    padding-right: 10px;
    margin-right: 10px;
}

@media (max-width:520px){
    body{
        display: grid;
        grid-template-areas: 
        "header"
        "search"
        "footer";
        grid-template-rows: fit-content;
        grid-template-columns: 100vw;
        height: 100vh;
        margin:0;
    }
    #pageheader{
        grid-area: header;
        display: grid;
        grid-template-areas: 
        "logo searchbar"
        "menus menus";
        grid-template-columns: 20vw 80vw  ;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        border:solid 1px #ebebeb;
}
#db{
    grid-area: initial;
    display: inline;
    visibility: collapse;
    width:0;
    height:0;
}
#search{
    width:60vw;
}
#sform::after{
    font-family: "Material Icons";
    content: "" ;
    font-size: 200%;
    position: absolute;
    color:blue;
right:0;
}
#logoimg{
    width:20vw;
    justify-self: start;
}
.images{
    display: flex;
    overflow: scroll;
    background-color: #ebebeb;}

.picsugs{
    overflow: scroll;
}
#menus{
    grid-area: menus;
    display: flex;
    justify-content: flex-start;
    margin-top:0px;
    color: rgb(95, 99, 104);
    flex-wrap: wrap;
    line-height: 4px;
    margin-top: 4px;
}
#sform{
    height:10px;
    justify-self: center;
}
#videoimg{
    width:50%;
    height:50%;
}
#videores{
    display: flex;
    flex-direction: column-reverse;
}

#other{
    visibility: collapse;
}
#city{
    margin-bottom: 0;
}
footer{
    grid-area: footer;
    font-size: 10px;
}
}