*{
    box-sizing: border-box;
}
html{
    font-size: 12px;
    margin: 0;
}
body{
    display: grid;
    grid-template-areas: 
    "header header header"
    "search search search"
    "footer footer footer";
    grid-template-rows: 13.3vh 70vh 10vh auto-fit;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    margin:0;
}
/*header which kinda works*/
#pageheader{
    grid-area: header;
    display: grid;
    grid-template-areas: 
    "logo searchbar login"
    "logo menus login";
    grid-template-columns: 0.5fr 4fr 1fr  ;
    grid-template-rows: 2fr 1.4fr;
    width: 100%;
    border:solid 1px #ebebeb;

}
#corner-google{
    grid-area: logo;
    margin-top:7%;
}
#menus{
    grid-area: menus;
    display: flex;
    justify-content: flex-start;
    margin-top:7px;
    color: rgb(95, 99, 104);
}


#db{
    display: flex;
    justify-content: flex-end;
    grid-area: login;
    font-size:12px;
}
#Login{
    color: white;
    background-color: rgb(26,115,232);
    width:100px;
    height: 37px;
    border-radius: 5px;
    border:none;
    margin-left: 1.3rem;
    margin-right:2.5rem;
    margin-top: 1.5rem;
}
#dots{
margin-top:1.2rem;
    width:40px;

}
.menu{
    margin-right:15px;
    margin-left:20px;
}
#search{
    width:56rem;
    margin-top: 2rem;
    border-radius: 20px;
    border: solid 1px #ebebeb;
    background-color: white;
    height:3.6rem;
}

/*End of header*/



/*gooogle corner logo (div and img)*/
#corner-google{
    margin-top: 1.8em;
}
#logoimg{
    width:90px;
    margin-left:1.3em;
}
/*end of logo*/

/*Search result*/

#results{
    grid-area: search;
    margin-left:10%;
    max-width: 690px;
}
.result{
    margin-top: 4%;
}
.translate{
    color: rgb(26, 13, 171);
    font-size: 1.1rem;
    margin-left: 4%;
}
.resultname{
    color: rgb(26, 13, 171);
    font-size:1.6rem;
    margin:0;
    line-height: 20px;
}
#resnum{
    color:rgb(112, 117, 122)
}
.linktosite{
    font-size: 1.1rem;
}
.description{
    font-size: 1.1rem;
}